- name: Update system packages
  become: true
  yum:
    name: "*"
    state: latest

- name: Install required packages
  become: true
  yum:
    name:
      - amazon-efs-utils
      - docker
      - git
    state: present

- name: Start Docker
  become: true
  service:
    name: docker
    state: started
    enabled: true

- name: Create EFS mount directory
  become: true
  file:
    path: /mnt/efs
    state: directory
    mode: '0755'

- name: Mount EFS
  become: true
  mount:
    path: /mnt/efs
    src: "{{ efs_id }}:/"
    fstype: efs
    opts: _netdev,tls
    state: mounted
