- name: Configure EC2 Instance
  hosts: all
  become: yes
  vars:
    ansible_user: ec2-user
    ansible_ssh_private_key_file: ~/.ssh/ansible-key-ci.pem
  tasks:
    - name: Wait for SSH to become available
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        delay: 10
        timeout: 300

    - name: Update system packages
      package:
        name: "*"
        state: latest

    - name: Install basic packages
      package:
        name:
          - git
          - docker
          - amazon-efs-utils
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Create EFS mount directory
      file:
        path: /mnt/efs
        state: directory
        owner: ec2-user
        group: ec2-user
        mode: '0755'

    - name: Mount EFS
      mount:
        path: /mnt/efs
        src: "{{ efs_dns_name }}:/"
        fstype: efs
        opts: _netdev,tls
        state: mounted
