- name: Update system packages
  package:
    name: "*"
    state: latest
  become: true

- name: Install basic packages
  package:
    name:
      - git
      - docker
      - amazon-efs-utils
    state: present
  become: true

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: true
  become: true

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
  become: true

- name: Create EFS mount directory
  file:
    path: /mnt/efs
    state: directory
    mode: '0755'
  become: true


