- name: Update system packages
  package:
    name: "*"
    state: latest

- name: Install basic packages
  package:
    name:
      - git
      - docker
      - amazon-efs-utils
    state: present

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: true

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes

- name: Create EFS mount directory
  file:
    path: /mnt/efs
    state: directory
    mode: '0755'

- name: Mount EFS
  mount:
    path: /mnt/efs
    src: "{{ efs_dns_name }}:/"
    fstype: efs
    opts: _netdev,tls
    state: mounted
