---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Apache
  apt:
    name: apache2
    state: present

- name: Ensure Apache is running and enabled
  systemd:
    name: apache2
    state: started
    enabled: yes
