- name: Launch EC2 Instance
  amazon.aws.ec2_instance:
    name: ansible-ec2
    region: us-east-1
    image_id: ami-0c02fb55956c7d316
    instance_type: t3.micro
    key_name: ansible-key
    vpc_subnet_id: subnet-095708a5cfcc22ce4
    security_groups:
      - default
    wait: true
    state: running
    tags:
      Name: ansible-ec2

- name: Export EC2 subnet ID
  set_fact:
    ec2_subnet_id: "{{ subnet_id }}"

- name: Export EC2 security group ID
  set_fact:
    ec2_security_group_id: "{{ security_group_id }}"
