- name: Launch EC2 Instance
  amazon.aws.ec2_instance:
    name: "ansible-ec2"
    key_name: "{{ aws_key_name }}"
    instance_type: "t3.micro"
    image_id: "ami-0c02fb55956c7d316"   # example Amazon Linux 2 AMI in us-east-1
    wait: yes
    region: "{{ aws_region }}"

