---
- name: Launch EC2 Instance
  amazon.aws.ec2_instance:
    name: "ansible-ec2"
    key_name: "{{ aws_key_name }}"
    instance_type: t2.micro
    image_id: ami-0c94855ba95c71c99
    region: "{{ aws_region }}"
    wait: yes
  register: ec2_out

- debug:
    var: ec2_out
