- name: Launch EC2 Instance
  amazon.aws.ec2_instance:
    name: ansible-ec2
    region: us-east-1
    image_id: ami-0c02fb55956c7d316
    instance_type: t3.micro
    key_name: ansible-key
    vpc_subnet_id: subnet-095708a5cfcc22ce4
    security_groups:
      - default
    wait: true
    state: running
    tags:
      Name: ansible-ec2
      register: ec2_out

- name: Export EC2 subnet ID
  set_fact:
    ec2_subnet_id: "{{ ec2_out.instances[0].subnet_id }}"
    ec2_public_ip: "{{ ec2_out.instances[0].public_ip_address }}"
  delegate_to: localhost