- name: Provision AWS Infrastructure
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    region: us-east-1
    efs_name: ansible-efs

  tasks:
    - name: Launch EC2 instance
      community.aws.ec2_instance:
        name: ansible-ec2
        key_name: my-key
        instance_type: t2.micro
        image_id: ami-0c02fb55956c7d316
        wait: true
        region: "{{ region }}"
        security_group: default
        subnet_id: subnet-xxxxxxxx
      register: ec2_out

    - name: Save EC2 subnet ID
      set_fact:
        ec2_subnet_id: "{{ ec2_out.instances[0].subnet_id }}"

    - name: Create EFS file system
      community.aws.efs:
        state: present
        name: "{{ efs_name }}"
        region: "{{ region }}"
      register: efs_out

    - name: Save EFS ID
      set_fact:
        efs_id: "{{ efs_out.efs.file_system_id }}"

    - name: Create EFS mount target
      community.aws.efs_mount_target:
        state: present
        file_system_id: "{{ efs_id }}"
        subnet_id: "{{ ec2_subnet_id }}"
        region: "{{ region }}"
        security_groups:
          - sg-xxxxxxxx

- name: Configure EC2 Instance
  hosts: web
  become: true
  roles:
    - configure-ec2
