---
- name: Deploy Infrastructure and Application
  hosts: localhost
  gather_facts: false

  vars:
    aws_region: us-east-1
    aws_key_name: "{{ aws_key_name }}"

  roles:
    - ec2
    - efs

- name: Configure EC2 Instance
  hosts: launched
  become: yes

  roles:
    - apache
    - mysql
