---
- name: Launch EC2 instance
  amazon.aws.ec2_instance:
    name: "ansible-managed-server"
    key_name: "{{ ec2_key_name }}"
    instance_type: "{{ ec2_instance_type }}"
    security_group: "{{ ec2_security_group }}"
    region: "{{ aws_region }}"
    image_id: "{{ ec2_ami }}"
    wait: yes
  register: ec2_instance

- name: Save EC2 public IP to inventory
  copy:
    dest: "../inventory.ini"
    content: |
      [aws]
      {{ ec2_instance.instances[0].public_ip_address }} ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/{{ ec2_key_name }}.pem
