- name: Create EFS file system
  amazon.aws.efs:
    state: present
    tags:
      Name: ansible-efs
  register: efs_out

- name: Export EFS DNS name
  set_fact:
    efs_dns_name: "{{ efs_out.efs.dns_name }}"
