- name: Create EFS file system
  community.aws.efs:
    state: present
    performance_mode: generalPurpose
    encrypted: true
    tags:
      Name: ansible-efs
  register: efs_out

- name: Wait for EFS to become available
  amazon.aws.efs_file_system_info:
    file_system_ids:
      - "{{ efs_out.file_system_id }}"
  register: efs_info
  until: efs_info.file_systems[0].life_cycle_state == "available"
  retries: 10
  delay: 10

- name: Create EFS mount target
  amazon.aws.efs_mount_target:
    state: present
    file_system_id: "{{ efs_out.file_system_id }}"
    subnet_id: "{{ ec2_subnet_id }}"
    security_groups:
      - default
