---
# EFS Role Tasks
# Assumes EFS is already mounted manually, no mount target creation needed

- name: Ensure EFS file system exists
  community.aws.efs:
    name: ansible-efs
    state: present
    region: us-east-1
  register: efs_out

- name: Set EFS ID
  set_fact:
    efs_id: "{{ efs_out.efs.file_system_id }}"

- name: Build EFS DNS name
  set_fact:
    efs_dns_name: "{{ efs_id }}.efs.us-east-1.amazonaws.com"

- name: Show EFS DNS
  debug:
    msg: "EFS DNS: {{ efs_dns_name }}"
