---
- name: Create EFS file system
  amazon.aws.efs_file_system:
    state: present
    performance_mode: generalPurpose
    encrypted: yes
    region: us-east-1
  register: efs_fs

- name: Mount EFS on EC2 instance
  mount:
    path: /mnt/efs
    src: "{{ efs_fs.file_system_id }}:/"
    fstype: nfs4
    state: mounted

