---
- name: Create EFS file system
  community.aws.efs:
    name: my-efs
    encrypted: true
    performance_mode: general_purpose  # lowercase with underscore
    throughput_mode: bursting
    state: present
    region: "{{ lookup('env','AWS_REGION') }}"
    tags:
      Project: Critical-Thinking
