- name: Create EFS file system
  community.aws.efs:
    state: present
    name: ansible-efs
    region: us-east-1
  register: efs_out

- name: Export EFS ID
  set_fact:
    efs_id: "{{ efs_out.efs.file_system_id }}"

- name: Create EFS mount target
  community.aws.efs_mount_target:
    state: present
    file_system_id: "{{ efs_id }}"
    subnet_id: "{{ ec2_subnet_id }}"
    security_groups:
      - "{{ ec2_security_group_id }}"
    region: us-east-1

- name: Build EFS DNS name
  set_fact:
    efs_dns_name: "{{ efs_id }}.efs.us-east-1.amazonaws.com"

- name: Show EFS DNS name
  debug:
    msg: "EFS DNS name is {{ efs_dns_name }}"
