# efs/tasks/main.yml

- name: Set EFS ID (already exists)
  set_fact:
    efs_id: "fs-0a2d0bab2c00006e4"

- name: Build EFS DNS name
  set_fact:
    efs_dns_name: "{{ efs_id }}.efs.us-east-1.amazonaws.com"

- name: Show EFS DNS
  debug:
    msg: "EFS DNS: {{ efs_dns_name }}"
