- name: Create EFS file system
  community.aws.efs:
    name: ansible-efs
    state: present
    region: us-east-1
  register: efs_out

- name: Export EFS ID
  set_fact:
    efs_id: "{{ efs_out.efs.file_system_id }}"

- name: Build EFS DNS name
  set_fact:
    efs_dns_name: "{{ efs_id }}.efs.us-east-1.amazonaws.com"

- name: Show EFS DNS name
  debug:
    msg: "EFS DNS name is {{ efs_dns_name }}"

- name: Mount EFS
  mount:
    path: /mnt/efs
    src: "{{ hostvars['localhost']['efs_dns_name'] }}:/"
    fstype: nfs4
    opts: defaults,_netdev
    state: mounted

