---
- name: Create EFS file system
  amazon.aws.efs_file_system:
    state: present
    performance_mode: generalPurpose
    encrypted: yes
    region: "{{ aws_region }}"
  register: efs_fs

- name: Save EFS ID for other plays
  set_fact:
    efs_id: "{{ efs_fs.file_system_id }}"
